<div class="container">
  <div class="row">
    <h3>会員情報編集</h3>
    <%= render "public/shared/error_messages", resource: resource %>
    <%= form_with model: @customer, url: registration_path(resource_name) do |f| %>
      <table class="table">
        <tr>
          <th><%= f.label :"名字" %></th>
          <td><%= f.text_field :last_name %></td>
        </tr>
        <tr>
          <th><%= f.label :"名前" %></th>
          <td><%= f.text_field :first_name %></td>
        </tr>
        <tr>
          <th><%= f.label :"名字（カナ）" %></th>
          <td><%= f.text_field :last_name_kana %></td>
        </tr>
        <tr>
          <th><%= f.label :"名前（カナ）" %></th>
          <td><%= f.text_field :first_name_kana %></td>
        </tr>
        <tr>
          <th><%= f.label :"郵便番号" %></th>
          <td><%= f.text_field :postcode %></td>
        </tr>
        <tr>
          <th><%= f.label :"住所" %></th>
          <td><%= f.text_field :address %></td>
        </tr>
        <tr>
          <th><%= f.label :"電話番号" %></th>
          <td><%= f.text_field :phone_number %></td>
        </tr>
        <tr>
          <th><%= f.label :"メールアドレス" %></th>
          <td><%= f.emailt_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
      </table>
      <div class="text-center">
        <%= f.submit "変更内容を保存する" %>
      </div>
    <% end %>
    <div class="text-center">
      <%= link_to "退会する", customers_unsubscribe_path %>
    </div>
    <%= link_to "1つ前に戻る" :back %>
  </div>
</div>

