<!DOCTYPE html>
<html>
  <head>
    <title>Bukuzon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/4a628cc1ba.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="headline  navbar-dark bg-secondary">
      <% if customer_signed_in? %>
        <%= render 'layouts/header' %>
      <% else admin_signed_in? %>
        <%= render 'layouts/header' %>
      <% end %>
    </header>
    <%= yield %>
    <footer class="footer navbar-dark bg-secondary">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
